<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8Ywdk-SUuNhnK-ul4fa5DJq0LFtI9594</string>
	<key>GCM_SENDER_ID</key>
	<string>395256083249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nextpro.zylx</string>
	<key>PROJECT_ID</key>
	<string>zylx-f5977</string>
	<key>STORAGE_BUCKET</key>
	<string>zylx-f5977.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395256083249:ios:6251484e7d43d2284cb610</string>
</dict>
</plist>