<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict/>
    </array>
    <key>UIAppFonts</key>
    <array>
        <string>Inter-Regular.otf</string>
        <string>Inter-Medium.otf</string>
        <string>Inter-SemiBold.otf</string>
        <string>Inter-Bold.otf</string>
        <string>Inter-Black.otf</string>
    </array>
    
    
    <!-- 🩵 Bluetooth permissions -->
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>This app requires Bluetooth access to connect and control nearby smart devices.</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>This app uses Bluetooth to discover and connect to compatible devices.</string>

    <!-- 📍 Location permissions -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Location access is required to scan for nearby Bluetooth devices.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Location access is needed to detect and connect to Bluetooth devices even when the app is in background.</string>

    
    
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>processing</string>
        <string>bluetooth-central</string>
        <string>location</string>
    </array>
    <key>com.apple.developer.networking.wifi-info</key>
    <true/>
  

</dict>
</plist>
