<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Regular.otf</string>
		<string>Inter-Medium.otf</string>
		<string>Inter-SemiBold.otf</string>
		<string>Inter-Bold.otf</string>
		<string>Inter-Black.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
        <string>bluetooth-central</string>
	</array>
	<key>com.apple.developer.networking.wifi-info</key>
	<true/>
    
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>This app uses Bluetooth to discover and connect to nearby devices.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Location access is required to scan for Bluetooth devices.</string>
</dict>
</plist>
